
button{
    background-color: lightgreen;
    color: white;
    border-color: lightgreen;
    border-radius: 10px;
    font-family: Poppins;
    position: inherit;
    
}

.green{
    color: rgb(64, 199, 64);
}
.yellow{
     color: orange;

}
h1,h2,h3,h5,p{
    font-family: Poppins;
    text-align: center;
   
   
}
h1{
    font-weight:500 ;
    text-shadow: 1px 3px 5px;
}
h2{
    font-weight: 300;
}
h3{
    font-weight: 350;
}
#page1{
    background-color: lightgray;
    border-top-right-radius: 10000000px;
    padding: 50px;
    text-align: center;
  
    


}
#page2{
    background-color: rgb(247, 255, 255);

}
#page3{
    background-color:aliceblue ;
}
#page4{
    background-color:  #C9ECB5;
    text-indent: 390px;
}
#page5{ 
    background-color: #FFD77C;
}
footer{
    background-color:#C9ECB5 ;
}
.bolden{
    font-weight: 500;
}


